@font-face {
  font-family: 'Inconsolata';
  src:url(<link href="https://fonts.googleapis.com/css2?family=Inconsolata&display=swap" rel="stylesheet">);
}
@font-face {
  font-family: 'Playfair Display';
  src:url(<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">);
}
@font-face {
  font-family: 'Ubuntu';
  src:url(<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">);
}
body{
	margin:0px;
	padding: 0px;
	max-width: 1920px;
	min-width: 320px;
}
.list-menu{
	display: flex;
	justify-content: space-between;
	list-style-type: none;
	margin:0 5.75% 0 46.6667%;
}
#menu{
	margin-top: 75px;
}
.minimo{
	margin:0 0 0 5.75%;
	position: absolute;
	top: 70px;
	font-size: 30px;
}
a{
	text-decoration: none;
	color: #626262;
	font-family: 'Playfair Display', serif;
	font-size: 14px;

}
p{
	margin:0px;
	line-height: 24px;
	color: #626262;
	font-family: 'Playfair Display', serif;
}
.p-minimo{
	color: black;
	font-family: 'Inconsolata', monospace;
	text-transform: uppercase;

}
.banner{
	max-width: 100%;
	height: auto;
}
.box1{
	display: grid;
	grid-template-columns: 1fr;
	margin:0 5.75% 0 5.75%;
	margin-top:77px;
	display: flex;
	justify-content: center;
	align-content: center;
}
.box2{
	margin: 0 12.5% 0 12.5%;
	margin-top: 98px;
}
.uper{
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Ubuntu', sans-serif;
	color:#b4ad9e;
}
.p3{
	margin-top: 30px;
	font-size: 14px;
}
.p4{
	margin-top: 46px;
}

.frame{
	left: 0px;
	right: 0px;
	margin: 0 12.5% 0 12.5%;
	margin-top: 130px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5%;
}
.frame3{
	margin-top: 103px;
}
.img{
	width: 100%;
}
.p5,.p8{
	margin-top: 31px;
}
.p2,.p6,.p9{
	margin-top: 27px;
	font-size: 30px;
}
.p7,.p10{
	font-size: 14px;
	margin-top: 30px;
}
.newletter{
	margin-top: 118px;
	width: 100%;
	height: 288px;
	background-color: #f0f0f0;
	text-align: center;
	position: relative;
}
.p11{
	padding-top: 73px;
	font-size: 30px;
	color: #333333;
}
.email{
	background-color: #f0f0f0;
	border:none;
	border-bottom: 1px solid #333333;
	width: 33.333%;
	height: 38px;
	text-align: left;
	margin:83px auto 0px auto;
}
.icon{
	background-color: #f0f0f0;
	border:none;
	position: absolute;
	top: 189px;
	right: 33.333%;
	outline: none;
}
.p13{
	font-size: 20px;
}
.load-more{
	margin-top: 163px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.load-more div{
	border:1px solid black;
	height: 60px;
	width: 162px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer{
	margin-top: 1372px;
	width: 100%;
	height: 100px;
	background-color: #f0f0f0;
	position: relative;
}
.a1,.a2,.a3{
	position: absolute;
	top:36px;
}
.a1{
	left: 12.33%;
}
.a2{
	left: 25.16667%;
}
.a3{
	left: 82.23333%;
}
.a3 a{
	margin-left: 18px;
}

a:hover{
	color: orange;
}
a:hover .uper{
	color: orange;
}
@media(max-width: 1100px){
	a,.uper,.p7,.p10,.p12{
		font-size: 13px;
	}
	.p2,.p6,.p9,.p11,.minimo{
		font-size: 26px;
	}
	.p13{
		font-size: 19px;
	}
	.a2{
	left: 30%;
	}
	.a3{
	left: 75%;	
	}
	.a3 a{
	margin-left: 16px;
	}
	.load-more div{
	height: 55px;
	width: 148.5px;
	font-size: 19px
	}

}
@media(max-width: 800px){
	.frame{
		grid-template-columns: 1fr;
	}
	a,.uper,.p7,.p10,.p12{
		font-size: 12px;
	}
	.p2,.p6,.p9,.p11,.minimo{
		font-size: 24px;
	}
	.p13{
		font-size: 18px;
	}
	.a2{
	left: 37%;
	}
	.a3{
	left: 65%;
	}
	.list-menu{
		margin:0 5.75% 0 35%;
	}
	.a3 a{
	margin-left: 14px;
	}
	.load-more div{
	height: 50px;
	width: 135px;
	font-size: 18px
	}
	.email{
		width: 40%;
	}
	.icon{
		right: 30%;
	}
	::placeholder{
		font-size: 10px;
	}

}
@media(max-width: 600px){
	.frame{
		grid-template-columns: 1fr;
	}
	a,.uper,.p7,.p10,.p12{
		font-size: 11px;
	}
	.p2,.p6,.p9,.p11,.minimo{
		font-size: 22px;
	}
	.p13{
		font-size: 17px;
	}
	.a2{
	left: 45%;
	}
	.a3{
	left: 60%;
	}
	.list-menu{
		margin:0 5.75% 0 25%;
	}
	.a3 a{
	margin-left: 12px;
	}
	.load-more div{
	height: 45px;
	width: 121.5px;
	font-size: 17px
	}
	.email{
		width: 50%;
	}
	.icon{
		right: 25%;
	}
	::placeholder{
		font-size: 9px;
	}

}

@media(max-width: 400px){
	.frame{
		grid-template-columns: 1fr;
	}
	a,.uper,.p7,.p10,.p12{
		font-size: 10px;
	}
	.p2,.p6,.p9,.p11,.minimo{
		font-size: 20px;
	}
	.p13{
		font-size: 16px;
	}
	.a2{
	left: 45.5%;
	}
	.a3{
	left: 55%;
	}
	.list-menu{
		margin:0 5.75% 0 18%;
	}
	.a3 a{
	margin-left: 10px;
	}
	.load-more div{
	height: 40px;
	width: 108px;
	font-size: 16px
	}
	.email{
		width: 50%;
	}
	.icon{
		right: 25%;
	}
	::placeholder{
		font-size: 9px;
	}



}


